
body
{
    font-family: 'Inter', sans-serif;
    background-color:#F9FAFB;
}

.earth {
    width: 650px;
    height: 650px;
    position: absolute;
    top: -4%;
    left: 75%;
    margin: auto;
    background-image: url(../images/earth.png);
    border-radius: 50%;
    background-size: cover;
    /* Uncomment below to apply shadow if needed */
    /* box-shadow: 0 0 20px 0px #f9f9f9 inset, 0 0 20px 2px #f9f9f9; */
    animation: rotateEarth 360s linear infinite;
}

@keyframes rotateEarth {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: auto;
    bottom: -90px;
    width: 65px;
    height: 65px;
    background: none;
    /* z-index: 10; */
    background: #dbdbdb;
    border-radius: 50%;
    padding: 4px;
    color: #2B7DC2;
}
.swiper-button-prev svg, .swiper-button-next svg {
    fill: #000; /* SVG color */
}
.swiper-button-prev {
    left: 50%;
    transform: translateX(-70px); /* Adjust for perfect center alignment */
}
.swiper-button-next {
    left: 50%;
    transform: translateX(20px); /* Adjust for perfect center alignment */
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  .scroll {
    --transition-time: 0.4s;
    --width-arrow-line: 6px;
    --color-arrow: #ffffff;
  }
  
  .top-btn {
    display: block;
    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 9999px; /* Tailwind utility for fully rounded borders */
    position: relative;
    background-color: #2589BD;
    box-shadow: 0 0 10px #2589BD;
    overflow: hidden;
  }
  
  .top-btn::before,
  .top-btn::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .top-btn::before {
    width: 24px;
    aspect-ratio: 1 / 1;
    border-top: var(--width-arrow-line) solid var(--color-arrow);
    border-left: var(--width-arrow-line) solid var(--color-arrow);
    transform: rotate(45deg);
  }
  
  .top-btn::after {
    width: var(--width-arrow-line);
    height: 50%;
    background-color: var(--color-arrow);
  }
  
  .scroll--active .top-btn:hover::before,
  .scroll--active .top-btn:hover::after {
    animation: top 0.8s infinite;
  }
  
  @keyframes top {
    0% {
      top: 100%;
    }
  
    100% {
      top: -50%;
    }
  }
  
